venv/
build/
*.charm

.coverage
__pycache__/
*.py[cod]

.tox/
.idea/

tests/integration/v2/provider_charm/lib/charms/tls_certificates_interface/v2/tls_certificates.py
tests/integration/v2/requirer_charm/lib/charms/tls_certificates_interface/v2/tls_certificates.py
