cryptography
jsonschema
black
coverage[toml]
flake8-docstrings
flake8-copyright
flake8-builtins
isort
mypy
pep8-naming
pyproject-flake8
types-PyYAML
types-setuptools
types-toml
juju==3.0.4
pytest
pytest-operator
ops==2.9