name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ignore-main-{0}', github.run_id) || format('{0}-{1}', github.workflow, github.ref_name) }}
  cancel-in-progress: true

jobs:
  lint-report:
    uses: canonical/identity-credentials-workflows/.github/workflows/lint-report.yaml@v0

  static-analysis:
    uses: canonical/identity-credentials-workflows/.github/workflows/static-analysis.yaml@v0

  unit-tests-with-coverage:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        run: sudo snap install --classic astral-uv

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests using tox
        run: tox -e unit

  unit-tests-with-coverage-pydantic-v1:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        run: sudo snap install --classic astral-uv

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests using tox
        run: tox -e unit-pydantic-v1

  build:
    name: Build charm
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - unit-tests-with-coverage-pydantic-v1
      - lint-report
      - static-analysis
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Install charmcraft
        run: sudo snap install charmcraft --classic
      - name: Build charm
        run: charmcraft pack --verbose

  integration-tests-v2-juju-2:
    name: Integration tests for tls interface v2 (Juju 2.9)
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - lint-report
      - static-analysis
    steps:
      - uses: actions/checkout@v6
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 2.9/stable
          provider: microk8s
          channel: 1.29/stable
      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Run tests using tox
        run: tox -e integration-v2
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz

  integration-tests-v2-juju-3:
    name: Integration tests for tls interface v2 (Juju 3.x)
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - lint-report
      - static-analysis
    steps:
      - uses: actions/checkout@v6
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3/stable
          provider: microk8s
          channel: 1.31-strict/stable
      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Run tests using tox
        run: tox -e integration-v2
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz

  integration-tests-v3:
    name: Integration tests for tls interface v3
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - lint-report
      - static-analysis
    steps:
      - uses: actions/checkout@v6
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3/stable
          provider: microk8s
          channel: 1.31-strict/stable
      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Run tests using tox
        run: tox -e integration-v3
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz

  integration-tests-v4:
    name: Integration tests for tls interface v4
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - lint-report
      - static-analysis
    steps:
      - uses: actions/checkout@v6
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.6/stable
          provider: microk8s
          channel: 1.31-strict/stable
      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Run tests using tox
        run: tox -e integration-v4
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz

  integration-tests-v4-pydantic-v1:
    name: Integration tests for tls interface v4 with Pydantic v1
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - lint-report
      - static-analysis
    steps:
      - uses: actions/checkout@v6
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.6/stable
          provider: microk8s
          channel: 1.31-strict/stable
      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Compile requirements
        run: |
          uv pip compile tests/integration/v4/requirer_charm/requirements-pydantic-v1.in -o tests/integration/v4/requirer_charm/requirements.txt
          uv pip compile tests/integration/v4/provider_charm/requirements-pydantic-v1.in -o tests/integration/v4/provider_charm/requirements.txt
      - name: Run tests using tox
        run: tox -e integration-v4-pydantic-v1 -- --no-upgrade
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: juju-crashdump-v4-pydantic-v1
          path: juju-crashdump-*.tar.xz
